* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 70%;
    scroll-behavior: smooth;
}
.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(imagini/3.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    
}
.main1 {
    background: #0E2619;
    width: 100%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%), url(imagini/ph6.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon {
    width: 200px;
    float: left;
    height: 70px;
}

.logo {
    color: #ff7200;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
    
}

ul {
    float:left;
    display: flex;
    justify-content: center;
    align-items: left;
}

    ul li {
        list-style: none;
        margin-left: 62px;
        margin-top: 27px;
        font-size: 18px;
    }

        ul li a {
            text-decoration: none;
            color: #fff;
            font-family: Arial;
            font-weight: bold;
            transition: 0.4s ease-in-out;
        }

            ul li a:hover {
                color: #ff7200;
            }
.content {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
}

    .content .par {
        padding: 5rem 0;
        padding-left: 25px;
        padding-bottom: 25px;
        font-family: Arial;
        letter-spacing: 1.2px;
        line-height: 30px;
        font-size:20px;
    }

    .content h1 {
        font-family: 'Times New Roman';
        font-size: 60px;
        padding-left: 20px;
        margin-top: 9%;
        letter-spacing: 2px;
        padding:3rem 6rem;
    }

    .content .cn {
        width: 180px;
        height: 40px;
        background: #ff7200;
        border: none;
        margin-bottom: 10px;
        margin-left: 25px;
        font-size: 15px;
        border-radius: 10px;
        cursor: pointer;
        transition: .4s ease;
    }

        .content .cn a {
            text-decoration: none;
            color: #000;
            transition: .3s ease;
        }

.cn:hover {
    background-color: #fff;
}
.content1 {
    width: 1200px;
    height: auto;
    margin: auto;
    color: #fff;
    position: relative;
   text-align:right;
}

    .content1 .par {
        padding: 5rem 0;
        padding-left: 250px;
        padding-bottom: 25px;
        font-family: Arial;
        letter-spacing: 1.2px;
        line-height: 30px;
        font-size: 20px;
        
    }

    .content1 h1 {
        font-family: 'Times New Roman';
        font-size: 60px;
        padding-left: 20px;
        margin-top: 9%;
        letter-spacing: 2px;
        padding: 3rem 6rem;
        
    }

.contact {
    background: #0E2619;
    padding: 8rem 7%;
    
}

.main-contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.inner-contact {
    flex: 1 1 45rem;
}

.contact-content {
    padding: 0 4rem;
}

    .contact-content h1 {
        color: white;
        font-size: 40px;
        margin-bottom: 15px;
    }

    .contact-content p {
        color: white;
        font-size: 1.5rem;
        line-height: 30px;
    }

.contact-image {
    width: 100%;
}

    .contact-image img {
        width: 100%;
        object-fit: cover;
    }
.aranj{
    padding: 10rem 7%;
    background-color: #0E2619;
}

    .aranj h1 {
        color: white;
        font-size: 45px;
        text-align: center;
        padding: 0.5rem 0;
    }

.main-aranj {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.inner-aranj {
    flex: 1 1 300px;
}

.aranj-content {
    width: 100%;
}
.aranj-text {
    padding: 2rem 2rem;
}

    .aranj-text h2 {
        color: white;
        font-size: 20px;
    }

    .aranj-text p {
        color: white;
        font-size: 15px;
        margin: 2rem 0;
    }

    .aranj-content img {
        width: 100%;
    }
.final {
    padding: 2rem 7%;
    background: linear-gradient(to top, rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(imagini/ph9.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.final-content {
    width: 40%;
    padding: 2rem;
}

    .final-content h1 {
        color: white;
        font-size: 35px;
        text-align: center;
        padding: 1rem 0;
    }

    .final-content p {
        color: white;
        font-size: 1.5rem;
        text-align: center;
        padding: 1rem 0;
        line-height: 30px;
    }


.ab {
    padding: 2rem 7%;
    background: #0E2619;
}

.main-ab {
    background: #0E2619;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.ab-content {
    flex: 1 1 45rem;
   
}

.ab-inner-content {
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.ab-content .ab-inner-content img {
    width: 90%;
    max-height:100%;
    margin-left: 100px;
}

.ab-text-content {
    padding: 0 4rem;
}

    .ab-text-content h1 {
        color: #e58f00;
        font-size: 40px;
        margin-bottom: 15px;
    }

    .ab-text-content p {
        text-align:left;
        color: white;
        font-size: 25px;
        line-height: 35px;
    }


.grid {
    background: #0E2619;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    grid-gap: 3px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-items: center;
}

    .grid img {
        border: 1px solid #ccc;
        box-shadow: 2px 1px 1px 1px;
        max-width: 35%;
        margin: 10px;
    }

        .grid img:hover {
            transform: scale(2);
            transition: 0.4s linear;
        }

    .grid img {
        transition: 0.4s linear;
    }
.final-content .cn {
    width: 180px;
    height: 40px;
    background: #933953;
    border: none;
    margin-bottom: 10px;
    margin-left: 50px;
    font-size: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
    display: block;
    float: left;
}

    .final-content .cn a {
        text-decoration: none;
        color: #000;
        transition: .3s ease;
        
    }

.cn:hover {
    background-color: #0E2619;
}
